<!doctype html>
<script src="jspm_packages/system.js"></script>
<script src="config.js"></script>
<script>
System.import('lib/main');
</script>
<body ng-controller="GalleryCtrl">
<div class="row">
  <div ng-repeat="attachment in attachments"> 
    <div class="col-lg-3 col-md-4 col-xs-6 thumb">
      <a class="thumbnail" ng-click="openLightboxModal($index)">
        <i class="fa fa-5x fa-{{attachment.type}}"></i>
        <span class="label label-warning">{{attachment.caption}}</span>
      </a>
    </div>
  </div>
</div>
<script type="text/ng-template" id="custom.html">
  <div class="modal-body" ng-controller="LightboxCtrl"
      ng-swipe-left="Lightbox.nextImage()"
      ng-swipe-right="Lightbox.prevImage()">

  <div class="lightbox-nav">
    <button class="close" aria-hidden="true" ng-click="$dismiss()">×</button>
    <div class="btn-group">
      <a class="btn btn-xs btn-default" ng-click="Lightbox.prevImage()">
        ‹ Previous
      </a>
      <a ng-href="{{Lightbox.imageUrl}}" target="_blank"
          class="btn btn-xs btn-default" title="Open in new tab">
        Open image in new tab
      </a>
      <a class="btn btn-xs btn-default" ng-click="Lightbox.nextImage()">
        Next ›
      </a>
    </div>
  </div>

    <div class="lightbox-image-container">
      <img lightbox-src="{{Lightbox.imageUrl}}">
      <span>{{Lightbox.imageCaption}}</span>
    </div>
  </div>
</script>
</body>
</html>
